@keyframes slidein3 {
    0%,100%{
        transform: translateX(0px) translateY(0px);
    }
    40%,80%{
        transform: translateX(10px) translateY(20px);
    }
    60%{
        transform: translateX(25px) translateY(30px);
    }
}
@keyframes slidein2 {
    0%, 100%{
        transform: scale(1) translateY(0px);
    }
    50%{
        transform: scale(1.5) translateY(-25px);
    }
}
@keyframes slidein1 {
    0% {
        transform: rotate(0deg) translateX(0px);
    }
    100% {
        transform: rotate(360deg) translateX(0px);
    }
}
@keyframes slidein {
    0%, 100%{
        transform: translateX(0px)
    }
    50%{
        transform: translateX(150px)
    }
}

.layer4copy2{
    position: absolute;
    top: 30px;
    width: 71px;
    height: 68.5px;
    left:917px;
    z-index: 14;
}

.layer5{
    position: absolute;
    top: 61.5px;
    width: 62.5px;
    height: 57px;
    left: 744.5px;
    animation: 20s linear 1s infinite slidein;
    z-index: 15;
}

.layer7{
    position: absolute;
    width: 125.5px;
    height: 115.5px;
    left: 0;
    top: 72.5px;
    z-index: 16;
}

.pink_sperm1{
    position: absolute;
    width: 591.5px;
    height: 92.5px;
    left: 432.5px;
    top: 155px;
    z-index: 11;
}

.textHello{
    position: absolute;
    font-size: 27px;
    font-family: "DIN Pro";
    left: 69.5px;
    top: 168.5px;
    margin-bottom: 0;
    height: 23.5px;
    width: 180px;
    line-height: normal;
    color: rgb(36, 36, 36);
}

.layer8{
    position: absolute;
    width: 110.5px;
    height: 113.5px;
    left: 861.5px;
    top: 200.5px;
    z-index: 17;
    animation: 5s linear 1s infinite slidein1;
}

.textTask{
    position: absolute;
    padding-top: 0;
    font-size: 109px;
    width: 912.5px;
    font-family: "Gilroy";
    line-height: 117px;
    letter-spacing:0.05em;
    left: 69.5px;
    top: 212px;
    margin-bottom: 0;
}

.btnHome{
    position: absolute;
    width: 288.5px;
    height: 80.5px;
    left: 627px;
    top: 464.5px;
}

.bakti{
    position: absolute;
    width: 73px;
    height: 71px;
    left: 22.5px;
    top: 503.5px;
    z-index: 4;
    animation: 5s linear 1s infinite slidein3;
}

.pink_sperm{
    position: absolute;
    width: 279.5px;
    height: 124px;
    left: -134px;
    top: 593px;
    z-index: 3;
}

.layer4copy{
    position: absolute;
    width: 84.5px;
    height: 77.5px;
    left: 347.5px;
    top: 631px;
    z-index: 13;
}

.layer4{
    position: absolute;
    width: 227.5px;
    height: 126.5px;
    left: 542px;
    top: 641.5px;
    animation: 30s linear 1s infinite slidein2;
    z-index: 12;
}