.header{
    margin-left: 66px;

}
.header img{
    top: 25.5px;
    width: 153px;
    height: 25.5px;
    position: relative;
}
button{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
    z-index: 100;
}