html{
  background: url(bg.png) no-repeat;
  background-size: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  margin-bottom: 0;
  margin-top: 0;
}


@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  src: local("DIN Pro"),
  url("/public/font/DINPro.woff2") format("woff2")

}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  src: local("Gilroy"),
  url("/public/font/Gilroy-Light.woff2") format("woff2")
}
@font-face {
  font-family: "Gilroy Regular";
  font-style: normal;
  src: local("Gilroy Regular"),
  url("/public/font/Gilroy-Regular.woff2") format("woff2")
}
@font-face {
  font-family: "Gilroy ExtraBold";
  font-style: normal;
  src: local("Gilroy ExtraBold"),
  url("/public/font/Gilroy-Extrabold.woff2") format("woff2")
}
@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  src: local("Myriad Pro"),
  url("/public/font/MyriadPro-Light.woff2") format("woff2")
}
